body {
	background-color: #EDEDFF;
	font-family: sans-serif;
	font-size: small;
	color: #000000;
}
h1 {
	font-weight: bold;
	font-size: 24pt;
	color: #0000FF;
}
fieldset {
	border: 1px solid #777;
}
legend {
	font-weight: bold;
}
input#message {
	width: 100%;
}
div#dialogue {
	overflow: auto;
	height: 100px;
	width: 100%;
}
div#debug {
	overflow: auto;
	max-height: 450px;
	width: 100%;
}
span.user {
	font-weight: bold;
	color: #299577;
}
span.bot {
	font-weight: bold;
	color: #7A6B56;
}



/* new css  */

@font-face{font-family:ArchivoNarrow;font-style:normal;font-weight:400;src:local('Archivo Narrow Regular'),url(fonts/ArchivoNarrow-Regular.woff) format('woff')}@font-face{font-family:ArchivoNarrow;font-style:italic;font-weight:400;src:local('Archivo Narrow Italic'),url(fonts/ArchivoNarrow-Italic.woff) format('woff')}@font-face{font-family:ArchivoNarrow;font-style:italic;font-weight:700;src:local('Archivo Narrow Bold Italic'),url(fonts/ArchivoNarrow-BoldItalic.woff) format('woff')}@font-face{font-family:ArchivoNarrow;font-style:normal;font-weight:700;src:local('Archivo Narrow Bold'),url(fonts/ArchivoNarrow-Bold.woff) format('woff')}@font-face{font-family:Lato;font-style:normal;font-weight:400;src:local('Lato Regular'),url(fonts/Lato-Regular.ttf) format('ttf')}@font-face{font-family:Lato;font-style:italic;font-weight:400;src:local('Lato Italic'),url(fonts/Lato-Italic.ttf) format('ttf')}@font-face{font-family:Lato;font-style:italic;font-weight:700;src:local('Lato Bold Italic'),url(fonts/Lato-BoldItalic.ttf) format('ttf')}@font-face{font-family:Lato;font-style:normal;font-weight:700;src:local('Lato Bold'),url(fonts/Lato-Bold.ttf) format('ttf')}*{color:#030;margin:0;padding:0;font-family:Lato,sans-serif;line-height:160%}html{background-color:#ebefe8;margin:0 auto}body{background-color:#fcfff9;color:#252018;margin:12px auto;padding:12px}a{text-decoration:none}a:link,a:visited{color:#056}a:hover{color:#289;border-bottom:1px solid #289}h1{color:#045;font-size:2.8em;font-weight:700;text-shadow:1px 1px 1px #fff;line-height:1em}h2{color:#034;font-size:2.2em;font-weight:700;margin:20px 0}h3{color:#023;font-size:2em;font-weight:400;margin:20px 0}h4{color:#030;font-size:1.5em;font-weight:400;margin:20px 0}h5{color:#030;font-size:1.2em;font-weight:400;margin:20px 0}p{margin:10px 0}ul,ol,dl{margin:10px 0;margin-left:20px;font-size:15px;line-height:20px}dl dt{margin:10px 0 0 -20px;font-style:italic}dl dd{display:list-item;list-style-type:disc}code{font-family:monospace;background-color:#ebefe8;padding:.3ex .5ex;margin:-.3ex;border-radius:.5ex;-webkit-border-radius:.5ex;-moz-border-radius:.5ex}pre{margin:10px 0;padding:.3em;background-color:#ebefe8;border-radius:.3em;-webkit-border-radius:.3em;-moz-border-radius:.3em}pre code{padding:0!important;background-color:transparent!important}blockquote{margin-left:1em;padding:.3em;background-color:#ebefe8}#container{padding:10px;background-color:#fff;border:1px solid #aaa}table tr,td{border:1px solid #999}table td,th{border:1px solid #999}#header ul{list-style-type:none;margin:10px 0}#header li{display:inline-block;margin-left:5px;margin-right:10px}#Actual{background:#ebefe8;padding-top:5px;padding-bottom:5px}.height-transition{-webkit-transition:max-height .5s ease-in-out;-moz-transition:max-height .5s ease-in-out;-o-transition:max-height .5s ease-in-out;transition:max-height .5s ease-in-out;overflow-y:hidden}.height-transition-hidden{max-height:0}@media all and (min-width:800px){*{font-size:17px}#main{padding:180px 0 0 280px;margin:0 auto 0 0;max-width:40em;min-height:25em}#menu a{font-size:1.5em}#menu{position:fixed;top:180px;left:20px;width:200px;padding:0 20px 10px 0;border-right:1px solid #c7beaf;text-align:right}#menu h1,#menu h2{color:#289;text-transform:uppercase;letter-spacing:.3ex}#menu h2{font-size:13px;line-height:20px;margin-top:20px}#menu ul{list-style-type:none!important;margin:10px 0}#menu li{font-size:.85em;line-height:20px}#logo{position:fixed;top:0;left:20px;height:180px;width:200px;display:block;background:url() center no-repeat;border:none;line-height:400px;text-align:center}#footer{margin-top:100px;padding:10px 0;text-align:center;color:#;background-color:#}#header{position:fixed;top:00px;left:0;height:40px;width:100%;padding-left:-40px;text-align:right;color:#444;background-color:#ebefe8;border-bottom:1px solid #c7beaf;box-shadow:0 0 5px #888}.notyet{color:#8a8376}.showcase{margin:20px 0;text-align:center}.showcase a{border:none!important}#trigger{display:none}}@media all and (max-width:799px){*{font-size:19px}#menu{padding:10px;text-align:center}#menu h1,#menu h2{color:#289;text-transform:uppercase;letter-spacing:.3ex}#menu h2{line-height:20px;margin-top:20px}#menu ul{list-style-type:none!important;margin:10px 0}#menu li{line-height:20px}#menu a{font-size:1.8em;font-weight:700}#lines{border-bottom:14px double #444;border-top:5px solid #444;content:"";height:4px;width:28px;margin-top:8px;margin-left:8px}.header-small{position:absolute;top:00px;left:0;height:40px;width:100%;padding-left:-40px;text-align:left;color:#444;background-color:#ebefe8;border-bottom:1px solid #c7beaf;box-shadow:0 0 5px #888}#trigger a{font-size:1.4em;text-decoration:none;border-bottom:none}#trigger a:hover{font-size:1.4em;text-decoration:none;border-bottom:none}}
